body {
  font-family: "Noto Sans SC", sans-serif;
  text-align: center;
  margin-top: 40px;
  background-color: #fdfcfb;
}
#flashcard {
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  width: 250px;
  background-color: #fff9f2;
}
button {
  padding: 8px 16px;
  font-size: 16px;
  margin-top: 10px;
}
